<div class="container vertical">
    <div class="row">
        <div class="col-6">
            <div>
                <app-add-item (TodoAdd)="AddTodo($event)"></app-add-item>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="Todos.length!==0; else elseBlock"></div>
                    <ng-template #elseBlock>
                        <h3>Your todos is empty</h3>
                    </ng-template>
                    <br>
                    <div *ngFor="let Todo of Todos;">
                        <app-todo-item [Todo]="Todo" (TodoDelete)="DeleteTodo($event)"
                            (TodoComplete)="CompleteTodo($event)">
                        </app-todo-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>