<div>
    <h3>Add Your Todo</h3>
    <form (ngSubmit)="AddTodo()" class="needs-validation" ngNativeValidate>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title" placeholder="Enter task title" required>
        </div>
        <br>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" placeholder="Enter task description" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Todo</button>
      </form>
</div>